# pycache:
__pycache__/*
*/__pycache__/*

# Testing:
*results.json
results/*
datasets/*_TEST
datasets/*/*/*.wav

# Summary testing:
create_test_summary/test_summary.html
create_test_summary/test_summary_example.py

# WhisperCPP testing:
whisper.cpp/
test-whispercpp.py
test-whispercpp.ipynb
models/WhisperCPP.py
