# pycache:
__pycache__/*
*/__pycache__/*

# General testing:
results/*
past_results/results-*
datasets/*_TEST
datasets/2023*
datasets/*/*/*.wav
test_transcribe.py
examples/results/*

# Symmetry testing:
*.out

# Create dataset testing:
create_dataset/datasets/

# WhisperCPP testing:
whisper.cpp/
test-whispercpp.py
test-whispercpp.ipynb
models/WhisperCPP.py
